/*==================================================
	Self-hosted Google Fonts
	Poppins & Roboto Mono
==================================================*/

/* Poppins - Light (300) */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/poppins/poppins-300.woff2') format('woff2');
}

/* Poppins - Regular (400) */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/poppins/poppins-400.woff2') format('woff2');
}

/* Poppins - Medium (500) */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/poppins/poppins-500.woff2') format('woff2');
}

/* Poppins - SemiBold (600) */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../fonts/poppins/poppins-600.woff2') format('woff2');
}

/* Poppins - Bold (700) */
@font-face {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/poppins/poppins-700.woff2') format('woff2');
}

/* Roboto Mono - Light (300) */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url('../fonts/roboto-mono/roboto-mono-300.woff2') format('woff2');
}

/* Roboto Mono - Regular (400) */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../fonts/roboto-mono/roboto-mono-400.woff2') format('woff2');
}

/* Roboto Mono - Medium (500) */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/roboto-mono/roboto-mono-500.woff2') format('woff2');
}

/* Roboto Mono - Bold (700) */
@font-face {
	font-family: 'Roboto Mono';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('../fonts/roboto-mono/roboto-mono-700.woff2') format('woff2');
}
