---
import BaseHead from '../components/BaseHead.astro';

interface Props {
  title: string;
  description?: string;
  image?: string;
  noindex?: boolean;
}

const { title, description, image, noindex } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} noindex={noindex} />
    <slot name="head" />
  </head>
  <body>
    <slot />
  </body>
</html>
